{% extends 'base.html' %}

{% block title %}Fire Command Center{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Lista de Personagens de {{ user.username }}</h2>
  {% endif %}

  <p>
    <a href="{% url 'character_add' %}">Novo Personagem</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>1ª Classe</th>
        <th>2ª Classe</th>
        <th>3ª Classe</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      {% for character in characters %}
        <tr>
          <td><a href="{% url 'character_change' character.pk %}">{{ character.name }}</a></td>
          <td>{{ character.first_class }}</td>
          <td>{{ character.second_class }}</td>
          <td>{{ character.third_class }}</td>
          {% if user.is_authenticated %}
            <td><a href="{% url 'character_delete' character.pk %}">Remover</a></td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Nenhum personagem encontrado. <a href="{% url 'character_add' %}">Adicione o primeiro</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}