{% extends 'base.html' %}

{% block content %}
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <h2>Novo Item de Loja</h2>
  <hr/>

  {% if form.errors %}
    {% for error, error_field in form.errors.items%}
      <h6> Erro em {{ error_field }} </h6>
      <p>{{ error }}</p>
    {% endfor %}
  {% endif %}

  <form method="post" id="eventForm" novalidate>
    {% csrf_token %}
    {{ form.as_table }}
    <div class="form-group row">
      <label for="id_name" class="col-sm-2 col-form-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" name="name" autofocus="" autocapitalize="none" autocomplete="name" maxlength="150" required="" id="id_name" class='form-control'
        {% if form.name.value %}
          value="{{form.name.value}}"
        {% endif %}
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="id_description" class="col-sm-2 col-form-label">Data do Evento:</label>
      <div class="col-sm-6">
        {{ form.date }}
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Salvar</button>
    <a class="btn btn-secondary" href="{% url 'shop_item_list' %}">Voltar</a>
  </form>

{% endblock %}