{% extends 'base.html' %}

{% block content %}
<h2>Nova Categoria de Presença</h2>
  <hr/>

  {% if form.errors %}
    {% for error, error_field in form.errors.items%}
      <h6> Erro em {{ error_field }} </h6>
      <p>{{ error }}</p>
    {% endfor %}
  {% endif %}

  <form method="post" id="characterForm" data-classes-url="{% url 'ajax_load_classes' %}" novalidate>
    {% csrf_token %}
    <input type="hidden" name="event" value="{{event.pk}}" id="id_event" />
    <div class="form-group row">
      <label for="id_name" class="col-sm-2 col-form-label">Nome</label>
      <div class="col-sm-4">
        <input type="text" name="name" autofocus="" autocapitalize="none" autocomplete="name" maxlength="150" required="" id="id_name" class='form-control'
        {% if form.name.value %}
          value="{{form.name.value}}"
        {% endif %}
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="id_name" class="col-sm-2 col-form-label">Pontos</label>
      <div class="col-sm-4">
        <input type="number" name="points_amount" autofocus="" autocapitalize="none" autocomplete="points_amount" maxlength="150" required="" id="id_points_amount" class='form-control'
        {% if form.points_amount.value %}
          value="{{form.points_amount.value}}"
        {% endif %}
        >
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Salvar</button>
    <a class="btn btn-secondary" href="{% url 'event_detail' event.pk %}">Voltar</a>
  </form>
{% endblock %}