{% extends 'base.html' %}
{% load tz %}

{% block title %}Fire Command Center{% endblock %}

{% block content %}
  <h2>Eventos da Fire</h2>
  <p>
    {% if user.is_staff %}
      <a href="{% url 'event_add' %}">Novo Evento</a>
    {% endif %}
  </p>
      <div class="row">
        {% for event in events %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                {% if user.is_staff %}
                  <h6><a href="{% url 'event_detail' event.pk %}">{{ event.name }}</a></h6>
                {% else %}
                  <h6>{{ event.name }}</h6>
                {% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Data: {{ event.date }}</li>
              </ul>
              <div class="card-body">
                <a {% if event in user_going %} class='font-weight-bold' {% endif %} href="{% url 'event_attendance_add' event.pk 'going' %}" class="card-link">Vou</a>
                <span class="badge badge-primary badge-pill">{{ event.get_going_attendances|length }}</span>
                <a {% if event in user_maybe %} class='font-weight-bold' {% endif %} href="{% url 'event_attendance_add' event.pk 'maybe'  %}" class="card-link">Talvez</a>
                <span class="badge badge-primary badge-pill">{{ event.get_maybe_attendances|length }}</span>
                <a {% if event in user_not_going %} class='font-weight-bold' {% endif %} href="{% url 'event_attendance_add' event.pk 'notgoing'  %}" class="card-link">Não Vou</a>
                <span class="badge badge-primary badge-pill">{{ event.get_not_going_attendances|length }}</span>
                {% if event.has_party_planning and user.is_staff %}
                	<a href="{% url 'event_list' %}" class="card-link">Planejar PTs</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

{% endblock %}