{% extends 'base.html' %}
{% load static %}
{% block content %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  <h2>Lista de Presença para {{event}}</h2>
  <hr/>
    <div class="form-group row">
      <span class="col-sm-2">Nome:</span>
      <div class="col-sm-4">
        {{event.name}}
      </div>
    </div>
    <div class="form-group row">
      <span for="id_description" class="col-sm-2">Data do Evento:</span>
      <div class="col-sm-4">
        {{ event.date }}
      </div>
    </div>

     <table class="table table-hover table-dark">
        <thead>
          <th colspan='2' scope="col">
            Membro
          </th>
          {% for category in attendance_categories %}
            <th scope="col">
              {{ category.name}}
            </th>
          {% endfor %}
        </thead>
        <tbody>
          {% if confirmed %}
            {% for confirmation in confirmed %}
              {% if forloop.first %}
                <tr scope="row">
                  <td colspan="{{colspan}}" class='text-center'> Presenças já confirmadas
                </tr>
              {% endif %}
            <tr scope="row" class="member-data">
              <td colspan='2' data-user-id="{{confirmation.user.id}}">{{ confirmation.user.username }}</td>
                {% for category in attendance_categories %}
                  <td>
                    <input type="radio" name="attendance_user_{{confirmation.id}}" class="attendance-category"
              value="{{ category.id }}" id="attendance_user_{{confirmation.user.id}}"
              {% if confirmation.attendance_category.id == category.id %} checked {% else %} disabled {% endif %}
              />
                  </td>
                {% endfor %}
            </tr>
            {% endfor %}
          {% else %}
          {% for member in going %}
            {% if forloop.first %}
              <tr scope="row">
                <td colspan="{{colspan}}" class='text-center'> Membros que responderam "Vou"
              </tr>
            {% endif %}
          <tr scope="row" class="member-data">
            <td colspan='2' data-user-id="{{member.user.id}}">{{ member.user.username }}</td>
              {% for category in attendance_categories %}
                <td>
                  <input type="radio" name="attendance_user_{{member.id}}" class="attendance-category"
            value="{{ category.id }}" id="attendance_user_{{member.user.id}}"/>
                </td>
              {% endfor %}
          </tr>
          {% endfor %}
          {% for member in maybe %}
            {% if forloop.first %}
              <tr scope="row">
                <td colspan="{{colspan}}" class='text-center'> Membros que responderam "Talvez"
              </tr>
            {% endif %}
            <tr scope="row" class="member-data">
              <td colspan='2' data-user-id="{{member.user.id}}">{{ member.user.username }}</td>
                {% for category in attendance_categories %}
                  <td>
                    <input type="radio" name="attendance_user_{{member.id}}" class="attendance-category"
              value="{{ category.id }}" id="attendance_user_{{member.user.id}}"/>
                  </td>
                {% endfor %}
            </tr>
          {% endfor %}
          {% for member in notgoing %}
            {% if forloop.first %}
              <tr scope="row">
                <td colspan="{{colspan}}" class='text-center'> Membros que responderam "Não Vou"
              </tr>
            {% endif %}
            <tr scope="row" class="member-data">
              <td colspan='2' data-user-id="{{member.user.id}}">{{ member.user.username }}</td>
                {% for category in attendance_categories %}
                  <td class="attendance-categories">
                    <input type="radio" name="attendance_user_{{member.id}}" class="attendance-category"
              value="{{ category.id }}" id="attendance_user_{{member.user.id}}"/>
                  </td>
                {% endfor %}
            </tr>
          {% endfor %}
          {% for member in unanswered %}
            {% if forloop.first %}
              <tr scope="row">
                <td colspan="{{colspan}}" class='text-center'> Membros que não responderam
              </tr>
            {% endif %}
            <tr scope="row" class="member-data">
              <td colspan='2' data-user-id="{{member.id}}">{{ member.username }}</td>
                {% for category in attendance_categories %}
                  <td>
                    <input type="radio" name="attendance_user_{{member.id}}" class="attendance-category"
              value="{{ category.id }}" id="attendance_user_{{member.user.id}}"/>
                  </td>
                {% endfor %}
            </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    <a class="btn btn-primary" href="{% url 'event_detail' event.pk %}" type="submit">Voltar</a>
    <button class="btn btn-primary" id="submitAttendances" type="submit">Confirmar</button>

    <script src="{% static 'js/attendance.js' %}"></script>
{% endblock %}