{% extends 'base.html' %}
{% load tz %}

{% block title %}Fire Command Center{% endblock %}

{% block content %}
  <h2>Eventos da Fire</h2>
  <p>
    {% if user.is_staff %}
      <a href="{% url 'event_add' %}">Novo Evento</a>
    {% endif %}
  </p>
      <div class="row">
        {% for event in events %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                <h6>{{ event.name }}</h6>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Data: {{ event.date }}</li>
	        	</li>
              </ul>
              <div class="card-body">
                <a href="{% url 'event_list' %}" class="card-link">Vou</a>
                <a href="{% url 'event_list' %}" class="card-link">Talvez</a>
                <a href="{% url 'event_list' %}" class="card-link">Não Vou</a>
                {% if event.has_party_planning and user.is_staff %}
                	<a href="{% url 'event_list' %}" class="card-link">Planejar PTs</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

{% endblock %}