{% extends 'base.html' %}

{% block title %}Fire Command Center{% endblock %}

{% block content %}

  <div class="text-center">
    <h1> Loja Fire </h1>
  </div>
  {% if user.is_staff %}
    <div class="text-right">
      <a class="btn btn-primary" href="{% url 'shop_item_create' %}">Novo Item da Loja</a>
    </div>
    <div class="text-right">
      <a class="btn btn-primary" href="{% url 'player_points_create' %}">Adicionar pontos de Membro</a>
    </div>
  {% endif %}

  <h5>Você possui {{ points }} pontos na loja.</h5>

  <div class="row">
    {% for item in shop_items %}
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}">
          <div class="card-header">
            <h6>
              <a href="{% url 'shop_item_update' item.pk %}">
                {{ item.name }}
              </a>
            </h6>
          </div>
          <div class="card-body">
            <p> {{ item.description }}</p>
            <a href="{% url 'shop_item_redeem' item.pk %}">Pedir</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}